.photo_project{
   visibility: hidden;
    opacity: 0;

}
.content__item--current .photo_project{
    display: block;
    visibility: visible;
    opacity: 1;
    transition: 3s;
    margin-top: 20px;
    position: relative;
    left: 0;
    width: 100%;

}
.content__item--current .photo_project img{
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
.content__item--current{
    overflow: auto!important;
    right: 0;
    padding-right: 7.5%;
}
.content__number{
    position: fixed;
    right: 15px;
    bottom: 100px;
}
.content__text{
    text-align: left;
}
.slide__title-wrap.black{
    background-color: rgba(0,0,0, 0.6);
    padding: 10px;
}
@media screen and (max-width: 1360px){
    .slideshow {
        /*height: 100vh;*/
        grid-template-columns: 25% 33% 33%;
        grid-column-gap: 9.5%;
    }
}
@media screen and (max-width: 850px){
    body{
        padding-top: 50px;
    }
    .frame{
        display: flex;align-items: flex-start;
        justify-content: flex-end;
    }
    .slide--current{
        z-index: 999;
    }
    .slideshow{
        grid-template-columns: 10% 60% 0%;
        height: calc(100vh - 4em);
        align-items: center;
    }
    .slide__title-wrap.black{
        display: none;
    }
    .content{
        z-index: 1001;
    }
    .content__item--current{
        background: rgba(0,0,0,0.6);
    }
}
@media screen and (max-width: 850px){
    .slideshow{
        grid-template-columns: 0% 80% 0%;
        height: calc(100vh - 4em);
    }
    .slide{
        height: 70%;
    }
    .slideshow__deco{
        height: 40%;
    }
}